body {
    --body-night : #171C28;
    transition: background 0.4s ease;
    background: var(--body-night);
}

body.day {
    background: var(--body-day);
}

.dayNight {
    cursor: pointer;
    --body-day : #fff;
    --body-night-btn : #fff;
    --body-day-btn : #5628EE;
}
.dayNight.keyA {
    --body-day : #fff;
    --body-night-btn : #f76024;
    --body-day-btn : #e8ce0d;
}
.dayNight.keyB {
    --body-day : #fff;
    --body-night-btn : #e4ba11;
    --body-day-btn : #ae0de8;
}

.dayNight input {
    display: none;
}

.dayNight input+div {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;
    box-shadow: inset 16px -16px 0 0 var(--body-night-btn);
    transform: scale(1) rotate(-2deg);
    transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}

.dayNight input+div:before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
}

.dayNight input+div:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 -23px 0 var(--body-day-btn), 0 23px 0 var(--body-day-btn), 23px 0 0 var(--body-day-btn), -23px 0 0 var(--body-day-btn), 15px 15px 0 var(--body-day-btn), -15px 15px 0 var(--body-day-btn), 15px -15px 0 var(--body-day-btn), -15px -15px 0 var(--body-day-btn);
    transform: scale(0);
    transition: all 0.3s ease;
}

.dayNight input:checked+div {
    box-shadow: inset 32px -32px 0 0 var(--body-night-btn);
    transform: scale(0.5) rotate(0deg);
    transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}

.dayNight input:checked+div:before {
    background: var(--body-day-btn);
    transition: background 0.3s ease 0.1s;
}

.dayNight input:checked+div:after {
    transform: scale(1.5);
    transition: transform 0.5s ease 0.15s;
}