.button {
    --background: #362A89;
    --background-hover: #291F6E;
    --text: #fff;
    --icon: #fff;
    display: flex;
    outline: none;
    cursor: pointer;
    border: 0;
    min-width: 113px;
    padding: 9px 20px 9px 12px;
    border-radius: 11px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    color: var(--text);
    background: var(--b, var(--background));
    transition: transform 0.3s, background 0.4s;
    transform: scale(var(--scale, 1)) translateZ(0);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.button.keyC {
    --background: #2cd44d;
    --background-hover: #269a45;
    --text: #fff;
    --icon: #fff;
}
.button.key54 {
    --background: #79abde;
    --background-hover: #5ca1e1;
    --text: #fff;
    --icon: #ec2c0a;
}

.button:active {
    --scale: .95;
}

.button:hover {
    --b: var(--background-hover);
}

.button .icon,
.button span {
    display: inline-block;
    vertical-align: top;
    transform: translateZ(0);
}

.button .icon {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 1;
    margin-right: 8px;
    color: var(--text);
}

.button .icon svg {
    width: 96px;
    height: 96px;
    display: block;
    position: absolute;
    left: -36px;
    top: -36px;
    will-change: transform;
    fill: var(--icon);
    transform: scale(0.254) translateZ(0);
    --animation1 : var(--name, var(--name-top, none));
    -webkit-animation: var(--animation1) 2200ms ease forwards;
    animation: var(--animation1) 2200ms ease forwards;
}

.button .icon svg.bottom {
    --name: var(--name-bottom, none);
}

.button span {
    -webkit-animation: var(--name-text, none) 2200ms ease forwards;
    animation: var(--name-text, none) 2200ms ease forwards;
}

.button.delete {
    --name-top: DeleteButtonAnimation_trash-top;
    --name-bottom: DeleteButtonAnimation_trash-bottom;
    --name-text: DeleteButtonAnimation_text;
}

@-webkit-keyframes :global(DeleteButtonAnimation_trash-bottom) {

    25%,
    32% {
        transform: translate(32px, 19px) scale(1) translateZ(0);
    }

    70%,
    80% {
        transform: translate(32px, 0) scale(0.254) translateZ(0);
    }

    100% {
        transform: scale(0.254) translateZ(0);
    }
}

@keyframes :global(DeleteButtonAnimation_trash-bottom) {

    25%,
    32% {
        transform: translate(32px, 19px) scale(1) translateZ(0);
    }

    70%,
    80% {
        transform: translate(32px, 0) scale(0.254) translateZ(0);
    }

    100% {
        transform: scale(0.254) translateZ(0);
    }
}

@-webkit-keyframes :global(DeleteButtonAnimation_trash-top) {

    25%,
    32% {
        transform: translate(38px, 4px) scale(1) rotate(-20deg) translateZ(0);
    }

    70%,
    80% {
        transform: translate(32px, 0) scale(0.254) translateZ(0);
    }

    100% {
        transform: scale(0.254) translateZ(0);
    }
}

@keyframes :global(DeleteButtonAnimation_trash-top) {

    25%,
    32% {
        transform: translate(38px, 4px) scale(1) rotate(-20deg) translateZ(0);
    }

    70%,
    80% {
        transform: translate(32px, 0) scale(0.254) translateZ(0);
    }

    100% {
        transform: scale(0.254) translateZ(0);
    }
}

@-webkit-keyframes :global(DeleteButtonAnimation_text) {
    25% {
        transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
    }

    70% {
        opacity: 1;
        transform: translate(-12px, 48px) rotate(-80deg) scale(0.2) translateZ(0);
    }

    71% {
        opacity: 0;
    }

    72%,
    90% {
        opacity: 0;
        transform: translateZ(0);
    }

    100% {
        opacity: 1;
    }
}

@keyframes :global(DeleteButtonAnimation_text) {
    25% {
        transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
    }

    70% {
        opacity: 1;
        transform: translate(-12px, 48px) rotate(-80deg) scale(0.2) translateZ(0);
    }

    71% {
        opacity: 0;
    }

    72%,
    90% {
        opacity: 0;
        transform: translateZ(0);
    }

    100% {
        opacity: 1;
    }
}
#top, #bottom {
    opacity : 1;
}